# Python
__pycache__/
*.py[cod]
venv/
.env

# Node / React
frontend/node_modules/
frontend/build/
frontend/.env

# IDE / OS junk
.DS_Store
*.log
**/*.pkl
**/*.keras
venv/

backend/venv/
backend/__pycache__/
backend/.mypy_cache/
backend/.pytest_cache/
